.Navbar {
    padding: 20px 20px;
    background: #2660a4;
    color: white; 
    display: flex;
    justify-content: space-between;  
}
.pokemons{ 
    text-align: center;
    text-decoration: none;
    display: flex;  
}

.tudo{
    background-color:  #0b90a7;
    padding: 15px 20px;
    margin-right:10px;
    border-radius: 15px;
}

.tudo:hover {
    background-color: #03425f;
}

.meu{
    background-color: #cfb41a;
    padding: 15px 20px;
    border-radius: 15px;
}

.meu:hover {
    background-color: #9c8502;
}

a:link, a:visited {
    text-decoration: none;
    color: #ffff;;
}
  
a:active {
    background-color: #815c93;
}

.campoBusca{
    margin: 20px;   
    vertical-align: bottom; 
}
